@mixin responsive-layout($prefix: sm) {
  @media (min-width: map-get($breakpoints, $prefix)) {
    @content;
  }
}

@mixin custom-layout($layout: 0) {
  @media (min-width: $layout) {
    @content;
  }
}

@mixin generate-color-variations($key, $val, $variation) {
  @for $i from 1 through 9 {
    .text-#{$key}-#{$variation}-#{$i} {
      color: mix(white, $val, $i * 10%);
    }
    .hover-text-#{$key}-#{$variation}-#{$i} {
      &:hover {
        color: mix(white, $val, $i * 10%);
      }
    }
    @each $responsive-prefix, $value in $breakpoints {
      @include responsive-layout($responsive-prefix) {
        .#{$responsive-prefix}-text-#{$key}-#{$variation}-#{$i} {
          color: mix(white, $val, $i * 10%);
        }
      }
    }
    .bg-#{$key}-#{$variation}-#{$i} {
      background-color: mix(white, $val, $i * 10%);
    }
    .hover-bg-#{$key}-#{$variation}-#{$i} {
      &:hover {
        background-color: mix(white, $val, $i * 10%);
      }
    }
    @each $responsive-prefix, $value in $breakpoints {
      @include responsive-layout($responsive-prefix) {
        .#{$responsive-prefix}-bg-#{$key}-#{$variation}-#{$i} {
          background-color: mix(white, $val, $i * 10%);
        }
      }
    }
  }
}
