@use "sass:map";

@use "functions" as *;
@use "utilities-maps" as *;
@use "variables" as *;

// Define utilities map
$utilities: (
  // Layout
  "display":
    (
      values: (
        flex: flex,
        inline-flex: inline-flex,
        block: block,
        inline: inline,
        inline-block: inline-block,
        grid: grid,
        inline-grid: inline-grid,
        flow-root: flow-root,
        d-none: none,
        contents: contents,
        table: table,
        table-row: table-row,
        list-item: list-item,
      ),
    ),
  "aspect-ratio": (
    prefix: aspect,
    values: $aspect-ratio-map,
  ),
  "object-fit": (
    prefix: object,
    values: (
      cover: cover,
      contain: contain,
      fill: fill,
      none: none,
      scale-down: scale-down,
    ),
  ),
  "box-sizing": (
    prefix: box,
    values: (
      border: border-box,
      content: content-box,
    ),
  ),
  "float": (
    prefix: float,
    values: (
      start: inline-start,
      end: inline-end,
      right: right,
      left: left,
      none: none,
    ),
  ),
  "top": (
    prefix: top,
    values: $spacing-map,
  ),
  "bottom": (
    prefix: bottom,
    values: $spacing-map,
  ),
  "left": (
    prefix: left,
    values: $spacing-map,
  ),
  "right": (
    prefix: right,
    values: $spacing-map,
  ),
  "overflow": (
    prefix: overflow,
    values: (
      auto: auto,
      hidden: hidden,
      clip: clip,
      visible: visible,
      scroll: scroll,
    ),
  ),
  "overflow-x": (
    prefix: overflow-x,
    values: (
      auto: auto,
      hidden: hidden,
      clip: clip,
      visible: visible,
      scroll: scroll,
    ),
  ),
  "overflow-y": (
    prefix: overflow-y,
    values: (
      auto: auto,
      hidden: hidden,
      clip: clip,
      visible: visible,
      scroll: scroll,
    ),
  ),
  "position": (
    values: (
      static: static,
      fixed: fixed,
      absolute: absolute,
      relative: relative,
      sticky: sticky,
    ),
  ),
  "visibility": (
    values: (
      visible: visible,
      invisible: hidden,
      collapse: collapse,
    ),
  ),
  "z-index": (
    prefix: z,
    values: $z-index-map,
  ),
  // Spacing
  "padding":
    (
      prefix: p,
      values: $padding-map,
    ),
  "padding-left": (
    prefix: pl,
    values: $padding-map,
  ),
  "padding-right": (
    prefix: pr,
    values: $padding-map,
  ),
  "padding-top": (
    prefix: pt,
    values: $padding-map,
  ),
  "padding-bottom": (
    prefix: pb,
    values: $padding-map,
  ),
  "padding-y": (
    prefix: py,
    classes: (
      padding-top,
      padding-bottom,
    ),
    values: $padding-y-map,
  ),
  "padding-x": (
    prefix: px,
    classes: (
      padding-left,
      padding-right,
    ),
    values: $padding-x-map,
  ),
  "margin": (
    prefix: m,
    values: $margin-map,
  ),
  "margin-left": (
    prefix: ml,
    values: $margin-map,
  ),
  "margin-right": (
    prefix: mr,
    values: $margin-map,
  ),
  "margin-top": (
    prefix: mt,
    values: $margin-map,
  ),
  "margin-bottom": (
    prefix: mb,
    values: $margin-map,
  ),
  "margin-y": (
    prefix: my,
    classes: (
      margin-top,
      margin-bottom,
    ),
    values: $margin-y-map,
  ),
  "margin-x": (
    prefix: mx,
    classes: (
      margin-left,
      margin-right,
    ),
    values: $margin-x-map,
  ),
  // Sizing
  "width":
    (
      prefix: w,
      values: $width-map,
    ),
  "min-width": (
    prefix: min-w,
    values: $min-width-map,
  ),
  "max-width": (
    prefix: max-w,
    values: $max-w-map,
  ),
  "height": (
    prefix: h,
    values: $height-map,
  ),
  "min-height": (
    prefix: min-h,
    values: $min-height-map,
  ),
  "max-height": (
    prefix: max-h,
    values: $max-height-map,
  ),
  // Typography
  "font-family":
    (
      prefix: font,
      values: $font-family-map,
    ),
  "font-size": (
    prefix: text,
    values: $font-size-map,
  ),
  "font-style": (
    prefix: font-style,
    values: (
      italic: italic,
      normal: normal,
    ),
  ),
  "font-weight": (
    prefix: font,
    values: (
      lighter: $font-weight-lighter,
      light: $font-weight-light,
      normal: $font-weight-normal,
      medium: $font-weight-medium,
      semibold: $font-weight-semibold,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder,
    ),
  ),
  "letter-spacing": (
    prefix: letter-spacing,
    values: $letter-spacing-map,
  ),
  "line-height": (
    prefix: line-height,
    values: $line-height-map,
  ),
  "list-style-position": (
    prefix: list-style,
    values: (
      inside: inside,
      outside: outside,
    ),
  ),
  "list-style-type": (
    prefix: list-style,
    values: (
      none: none,
      disc: disc,
      decimal: decimal,
    ),
  ),
  "text-align": (
    prefix: text,
    values: (
      left: left,
      center: center,
      right: right,
      justify: justify,
      start: start,
      end: end,
    ),
  ),
  "color": (
    prefix: text,
    values: $colors,
  ),
  "text-decoration-line": (
    prefix: text-dec,
    values: (
      underline: underline,
      overline: overline,
      line-through: line-through,
      none: none,
    ),
  ),
  "text-decoration-color": (
    prefix: text-dec,
    values: $colors,
  ),
  "text-decoration-thickness": (
    prefix: text-dec,
    values: (
      auto: auto,
      from-font: from-font,
      0: $text-decoration-thickness-0,
      1: $text-decoration-thickness-1,
      2: $text-decoration-thickness-2,
      3: $text-decoration-thickness-3,
      4: $text-decoration-thickness-4,
      5: $text-decoration-thickness-5,
      6: $text-decoration-thickness-6,
      7: $text-decoration-thickness-7,
      8: $text-decoration-thickness-8,
      9: $text-decoration-thickness-9,
      10: $text-decoration-thickness-10,
    ),
  ),
  "text-underline-offset": (
    prefix: text-underline-offset,
    values: (
      auto: auto,
      0: $text-underline-offset-0,
      1: $text-underline-offset-1,
      2: $text-underline-offset-2,
      3: $text-underline-offset-3,
      4: $text-underline-offset-4,
      5: $text-underline-offset-5,
      8: $text-underline-offset-8,
    ),
  ),
  "text-transform": (
    values: (
      uppercase: uppercase,
      lowercase: lowercase,
      capitalize: capitalize,
      normal-case: none,
    ),
  ),
  "text-overflow": (
    prefix: text,
    values: (
      ellipsis: ellipsis,
      clip: clip,
    ),
  ),
  "text-wrap": (
    prefix: text,
    values: (
      wrap: wrap,
      nowrap: nowrap,
      balance: balance,
      pretty: pretty,
    ),
  ),
  "text-indent": (
    prefix: text-indent,
    values: spacing-function(),
  ),
  "white-space": (
    prefix: white-space,
    values: (
      normal: normal,
      nowrap: nowrap,
      pre: pre,
      pre-line: pre-line,
      pre-wrap: pre-wrap,
      break-spaces: break-spaces,
    ),
  ),
  "hyphens": (
    prefix: hyphens,
    values: (
      none: none,
      manual: manual,
      auto: auto,
    ),
  ),
  // Backgrounds
  "background-attachment":
    (
      prefix: bg,
      values: (
        fixed: fixed,
        local: local,
        auto: auto,
      ),
    ),
  "background-clip": (
    prefix: bg-clip,
    values: (
      border: border-box,
      padding: padding-box,
      content: content-box,
      text: text,
    ),
  ),
  "background-color": (
    prefix: bg,
    values: $colors,
  ),
  "background-position": (
    prefix: bg,
    values: (
      top: top,
      center: center,
      left: left,
      left-bottom: left bottom,
      left-top: left top,
      right: right,
      right-bottom: right bottom,
      right-top: right top,
      bottom: bottom,
    ),
  ),
  "background-repeat": (
    prefix: bg,
    values: (
      repeat: repeat,
      no-repeat: no-repeat,
      repeat-x: repeat-x,
      repeat-y: repeat-y,
      repeat-round: round,
      repeat-space: space,
    ),
  ),
  "background-size": (
    prefix: bg,
    values: (
      auto: auto,
      cover: cover,
      contain: contain,
    ),
  ),
  // Borders
  "border-radius":
    (
      prefix: rounded,
      values: $border-radius-map,
    ),
  "border-width": (
    prefix: border,
    values: $border-width-map,
  ),
  "border-color": (
    prefix: border,
    values: $colors,
  ),
  "border-style": (
    prefix: border,
    values: (
      solid: solid,
      dashed: dashed,
      dotted: dotted,
      double: double,
      hidden: hidden,
      none: none,
    ),
  ),
  "border-left-width": (
    prefix: border-l,
    values: $border-width-map,
  ),
  "border-left-color": (
    prefix: border-l,
    values: $colors,
  ),
  "border-left-style": (
    prefix: border-l,
    values: (
      solid: solid,
      dashed: dashed,
      dotted: dotted,
      double: double,
      hidden: hidden,
      none: none,
    ),
  ),
  "border-right-width": (
    prefix: border-r,
    values: $border-width-map,
  ),
  "border-right-color": (
    prefix: border-r,
    values: $colors,
  ),
  "border-right-style": (
    prefix: border-r,
    values: (
      solid: solid,
      dashed: dashed,
      dotted: dotted,
      double: double,
      hidden: hidden,
      none: none,
    ),
  ),
  "border-top-width": (
    prefix: border-t,
    values: $border-width-map,
  ),
  "border-top-color": (
    prefix: border-t,
    values: $colors,
  ),
  "border-top-style": (
    prefix: border-t,
    values: (
      solid: solid,
      dashed: dashed,
      dotted: dotted,
      double: double,
      hidden: hidden,
      none: none,
    ),
  ),
  "border-bottom-width": (
    prefix: border-b,
    values: $border-width-map,
  ),
  "border-bottom-color": (
    prefix: border-b,
    values: $colors,
  ),
  "border-bottom-style": (
    prefix: border-b,
    values: (
      solid: solid,
      dashed: dashed,
      dotted: dotted,
      double: double,
      hidden: hidden,
      none: none,
    ),
  ),
  "border-collapse": (
    prefix: border,
    values: (
      collapse: collapse,
      separate: separate,
    ),
  ),
  "outline-width": (
    prefix: outline,
    values: $outline-width-map,
  ),
  "outline-color": (
    prefix: outline,
    values: $colors,
  ),
  "outline-style": (
    prefix: outline,
    values: (
      solid: solid,
      dashed: dashed,
      dotted: dotted,
      double: double,
      hidden: hidden,
      auto: auto,
    ),
  ),
  "outline-offset": (
    prefix: outline-offset,
    values: $outline-width-map,
  ),
  // Filters
  "filter":
    (
      prefixes: (
        blur,
        brightness,
        contrast,
        grayscale,
        hue-rotate,
        invert,
        saturate,
        sepia,
      ),
      values: $filter-map,
    ),
  "backdrop-filter": (
    prefixes: (
      backdrop-blur,
      backdrop-brightness,
      backdrop-contrast,
      backdrop-grayscale,
      backdrop-hue-rotate,
      backdrop-invert,
      backdrop-saturate,
      backdrop-sepia,
    ),
    values: $backdrop-filter-map,
  ),
  "opacity": (
    prefix: opacity,
    values: $opacity-map,
  ),

  // Transitions
  "transition-property":
    (
      prefix: transition,
      classes: (
        transition-property,
        transition-timing-function,
        transition-duration,
      ),
      values: $transition-map,
    ),
  "transition-duration": (
    prefix: duration,
    values: $transition-duration-map,
  ),
  "transition-timing-function": (
    values: $transition-timing-function-map,
  ),
  "transition-delay": (
    prefix: delay,
    values: $transition-delay-map,
  ),

  // Transforms
  "transform":
    (
      prefixes: (
        scale,
        scale-x,
        scale-y,
        rotate,
        translate-x,
        translate-y,
        skew-x,
        skew-y,
      ),
      values: $transform-map,
    ),
  "transform-origin": (
    prefix: origin,
    values: (
      center: center,
      top: top,
      top-right: top right,
      right: right,
      bottom-right: bottom right,
      bottom: bottom,
      bottom-left: bottom-left,
      left: left,
      top-left: top left,
    ),
  ),

  // Interactivity
  "accent-color":
    (
      prefix: accent,
      values: $colors,
    ),
  "appearance": (
    prefix: appearance,
    values: (
      none: none,
      auto: auto,
    ),
  ),
  "cursor": (
    prefix: cursor,
    values: (
      auto: auto,
      default: default,
      pointer: pointer,
      wait: wait,
      text: text,
      move: move,
      not-allowed: not-allowed,
      none: none,
      context-menu: context-menu,
      progress: progress,
      cell: cell,
      crosshair: crosshair,
      vertical-text: vertical-text,
      alias: alias,
      copy: copy,
      no-drop: no-drop,
      grab: grab,
      grabbing: grabbing,
      all-scroll: all-scroll,
    ),
  ),
  "caret-color": (
    prefix: caret,
    values: $colors,
  ),
  "pointer-events": (
    prefix: pointer-events,
    values: (
      none: none,
      auto: auto,
    ),
  ),
  "resize": (
    prefix: resize,
    values: (
      none: none,
      y: vertical,
      x: horizontal,
      default: both,
    ),
  ),
  "scroll-behavior": (
    prefix: scroll,
    values: (
      auto: auto,
      smooth: smooth,
    ),
  ),
  "user-select": (
    prefix: select,
    values: (
      none: none,
      text: text,
      all: all,
      auto: auto,
    ),
  ),
  "will-change": (
    prefix: will-change,
    values: (
      scroll: scroll-position,
      contents: contents,
      transform: transform,
      auto: auto,
    ),
  )
) !default;
