@function spacing-function($spacing-base: $base-spacing, $max: 100) {
  $spacing-map: ();

  @for $i from 0 through $max {
    $spacing-map: map-merge(
      $spacing-map,
      (
        "#{($i)}": $i * $spacing-base,
      )
    );
  }

  @return $spacing-map;
}

@function merge-utilities-map($map, $property, $prefix) {
  // Merge the spacing function with the existing property values
  $width-values: map-merge(
    map-get(map-get($map, $property), "values"),
    spacing-function()
  );
  
  // Update the property map with the new values
  @return map-merge(
    $map,
    (
      $property: (
        prefix: #{$prefix},
        values: $width-values,
      )
    )
  );
}
