@function spacing-function($spacing-base: $base-spacing) {
  @return (
    0: 0,
    px: 1px,
    1: $spacing-base,
    2: $spacing-base * 2,
    3: $spacing-base * 3,
    4: $spacing-base * 4,
    5: $spacing-base * 5,
    6: $spacing-base * 6,
    7: $spacing-base * 7,
    8: $spacing-base * 8,
    9: $spacing-base * 9,
    10: $spacing-base * 10,
    11: $spacing-base * 11,
    12: $spacing-base * 12,
    14: $spacing-base * 14,
    16: $spacing-base * 16,
    18: $spacing-base * 18,
    20: $spacing-base * 20,
    24: $spacing-base * 24,
    28: $spacing-base * 28,
    32: $spacing-base * 32,
    36: $spacing-base * 36,
    40: $spacing-base * 40,
    44: $spacing-base * 44,
    48: $spacing-base * 48,
    52: $spacing-base * 52,
    56: $spacing-base * 56,
    60: $spacing-base * 60,
    64: $spacing-base * 64,
    68: $spacing-base * 68,
    72: $spacing-base * 72,
    76: $spacing-base * 76,
    80: $spacing-base * 80,
    84: $spacing-base * 84,
    88: $spacing-base * 88,
    92: $spacing-base * 92,
    96: $spacing-base * 96,
    100: $spacing-base * 100
  );
}

@function merge-utilities-map($map, $property, $prefix) {
  // Merge the spacing function with the existing property values
  $width-values: map-merge(
    map-get(map-get($map, $property), "values"),
    spacing-function()
  );

  // Update the property map with the new values
  @return map-merge(
    $map,
    (
      $property: (
        prefix: #{$prefix},
        values: $width-values,
      ),
    )
  );
}
